main
*.o
.vscode/
substrTests
indexOfTests
replaceTests
rpadTests
indexOfReverseTests
aclocal.m4
compile
configure
COPYING
depcomp
INSTALL
install-sh
Makefile
missing
config.log
config.status
libstrutils.a
Makefile.in
src/.deps/*
src/.dirstamp
autom4te.cache/*
libstring-utils.a
tests/RUN.sh.log
tests/RUN.sh.trs
test-driver
test-suite.log
.devcontainer/